# Variable

In [53]:
#in python no need to declare a variable and define data type
#simple assignment
a = 10 #integer variable
b = 12.32  #float 
c = "ML" # string
print("Simple assignmnet")
print(a,b,c)

#multiple assignment
p,q,r = 10,30.3, "ML2"  # 10 will assign to p, 30.3 will assign to q and ML2 will assign to r
print("multiple assignment")
print(p,q,r);

Simple assignmnet
10 12.32 ML
multiple assignment
10 30.3 ML2

# Storage location

In [54]:
# id() return memory address 
# both variable a and b will have same memory address. both are refering to constant 3 
a = 3;
print(id(a))

b = 3;
print(id(b))

4510819744
4510819744

# Datatype
everyting in python is Object
1. datatype is actually a class and variables are instance(Object) of these class

In [55]:
#example
# everything is object therefor all variables are type of class
a=3
print(type(a))

a=5.3
print(type(a))

a="Hello" # string is unicode support multiple lanugages
print(type(a))

a='a'
print(type(a))

a=True
print(type(a))

a=1+2j #complex variable
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'complex'>

# Check datatype

In [1]:
#using isinstance(param1,param2), we can compare the datatype of a variable
a=4
print(isinstance(a,int))

a=1+2j;
print(isinstance(a,complex))

a='';
print(isinstance(a,str))

True
True
True

# String
1. multi line strings can be denoted using triple quotes ''' """
2. charcter can be used as string[0]
3. In python string is a sequence of unicode charcter (supports multiple language).

In [57]:
s="Hello Python"
print(s);

s="""This is the example of triple quotes in python.
It supports muti-line strings."""
print(s);


#We can index string to use the character
print("First Char : ",s[0])
print("Last Char : ",s[len(s)-1])

# -ve start from last index
print("last Char : ",s[-1]) 
print("last Char : ",s[-2]) 

print(type(s[0]))

#Slice a string
#print everything in string from 5
s[5:]
s[5:10] #10 is exclusive

Hello Python
This is the example of triple quotes in python.
It supports muti-line strings.
First Char :  T
Last Char :  .
last Char :  .
last Char :  s
<class 'str'>

'is th'

# Python List
1. List is ordered sequence of items. It is one of the most used datatype in python and its very flexible. 
2. List in generic which means that all the item in list need not to be of same data type
3. Declaring a list is, Item seperated by commas are enclosed within []

In [58]:
list=[10,20.5,"Name"]
print(list)
print(list[0])

#list are mutable which means that value of an element can be altered
list[1]=30.34
print(list)

[10, 20.5, 'Name']
10
[10, 30.34, 'Name']

# Python Tuple
1. Tuple is an ordered sequence of items similar to list but tuples are immutable. Once tuple is created, it can not be modified.

In [59]:
#tuple use () to store items
tuple = (1,20.3,"hello")
print(tuple)
print(tuple[len(tuple)-1])

#tuple is immutable
tuple[1]=39.8
print(tuple) #TypeError: 'tuple' object does not support item assignment

(1, 20.3, 'hello')
hello

TypeError: 'tuple' object does not support item assignment

# Python Set
1. Unlike list and tuple Set is an unordered collection of unique item.
2. It does not allow duplicate item.
3. Set values are seprated by comma inside curly braces {}

In [60]:
# we can perform intersection, unition operation of set on two sets
set = {1,2,3,4,4,5,6} # set will remove duplicate values
print(set)
print(type(set))


print(set[0]) # TypeError: set' object does not support indexing
              # Set is unordered collections.

{1, 2, 3, 4, 5, 6}
<class 'set'>

TypeError: 'set' object does not support indexing

# Python Dictionary 
1. Dictionary\Map\HashTable is an unordered collection of key-value pairs.
2. keys are unique but value can be duplicate

In [61]:
dict={'a':"apple", 'b':"banana"}
print(dict['a'])

apple

# Conversion between datatype
different type conversion funcation like int(),float(), str() etc are available to convert the datatype

In [62]:
float(5)

5.0

In [63]:
int(5.4)

5

In [64]:
int('1')

1

In [1]:
str(20)

'20'

In [49]:
int('2j')

ValueError: invalid literal for int() with base 10: '2j'

In [6]:
book="Python"
pages = 1000;

#below line will throw error : TypeError: must be str, not int
#print("This book "+book+" contains "+pages+" pages.")

#to fix this we have to convert pages to string
print("This book "+book+" contains "+str(pages)+" pages.")

This book Python contains 1000 pages.

In [9]:
#convert one sequence to other
a=[1,2,3]
print(type(a))
s=set(a)
print(type(s))

<class 'list'>
<class 'set'>

In [10]:
#convert string to list using list method
list("hello")

['h', 'e', 'l', 'l', 'o']