# Tuples

-> A tuple is similar to list

-> The diffence between the two is that we can't change the elements of tuple once it is assigned whereas in the list, elements can be changed

# Tuple creation

In [1]:
#empty tuple
t = ()

#tuple having integers
t = (1, 2, 3)
print(t)

#tuple with mixed datatypes
t = (1, 'raju', 28, 'abc')
print(t)

#nested tuple
#tuple contains int, tuple, list
t = (1, (2, 3, 4), [1, 'raju', 28, 'abc'])
print(t)

(1, 2, 3)
(1, 'raju', 28, 'abc')
(1, (2, 3, 4), [1, 'raju', 28, 'abc'])

In [3]:
#only parenthesis is not enough
# here its type of string enclosed within parenthesis 
t = ('Raghu')
type(t)

str

In [2]:
#need a comma at the end
t = ('Raghu',)
type(t)

tuple

In [5]:
#parenthesis is optional
t = "satish", 
print(type(t))

print(t)
tup = "abc","pqr","lmn",

print(type(tup))
print(tup)
print(tup[1])

<class 'tuple'>
('satish',)
<class 'tuple'>
('abc', 'pqr', 'lmn')
pqr

# Accessing Elements in Tuple

In [8]:
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
#indexing from 0 to len-1
print(t[1])

murali

In [11]:
#negative index
t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print(t[-1]) #print last element in a tuple

t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print("Tuple location ",id(t));

t = ('satish', 'murali', 'naveen', 'srinu', 'brahma')
print("Tuple location ",id(t));

#in above exaple everytime we are g

brahma
Tuple location  4563680248 4563719928
Tuple location  4563679720

In [9]:
#nested tuple

t = ('ABC', ('satish', 'naveen', 'srinu'))

print(t[1])

('satish', 'naveen', 'srinu')

In [11]:
print(t[1][2])

srinu

In [12]:
#Slicing
t = (1, 2, 3, 4, 5, 6)

print(t[1:4])

#print elements from starting to 2nd last elements
print(t[:-2])

#print elements from starting to end
print(t[:])


#print elements from  end to starting
print(t[::-1])

(2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4, 5, 6)
(6, 5, 4, 3, 2, 1)

# Changing a Tuple

#unlike lists, tuples are immutable
#This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

In [16]:
#creating tuple
t = (1, 2, 3, 4, [5, 6, 7])

t[2] = 'x' #will get TypeError

TypeError: 'tuple' object does not support item assignment

In [17]:
#list is mutable
t[4][1] = 'saransh'
print(t)

(1, 2, 3, 4, [5, 'saransh', 7])

In [18]:
#concatinating tuples

t = (1, 2, 3) + (4, 5, 6)
print(t)

(1, 2, 3, 4, 5, 6)

In [23]:
#repeat the elements in a tuple for a given number of times using the * operator.
t = (('satish', ) * 4)
print(t)

('satish', 'satish', 'satish', 'satish')

# Tuple Deletion

In [24]:
#we cannot change the elements in a tuple. 
# That also means we cannot delete or remove items from a tuple.

#delete entire tuple using del keyword
t = (1, 2, 3, 4, 5, 6)

#delete entire tuple
del t

# Tuple Count

In [25]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

#get the frequency of particular element appears in a tuple
t.count(1)

3

# Tuple Index

In [26]:
t = (1, 2, 3, 1, 3, 3, 4, 1)

print(t.index(3)) #return index of the first element is equal to 3

#print index of the 1

2

# Tuple Memebership

In [23]:
#test if an item exists in a tuple or not, using the keyword in.
t = (1, 2, 3, 4, 5, 6)

print(1 in t)

True

In [24]:
print(7 in t)

False

# Built in Functions

# Tuple Length

In [25]:
t = (1, 2, 3, 4, 5, 6)
print(len(t))

6

# Tuple Sort

In [30]:
t = (4, 5, 1, 2, 3)

new_t = sorted(t)
print(new_t) #Take elements in the tuple and return a new sorted list 
             #(does not sort the tuple itself).

#AttributeError: 'tuple' object has no attribute 'sort'    
#t.sort()
#print(t)

[1, 2, 3, 4, 5]

In [27]:
#get the largest element in a tuple
t = (2, 5, 1, 6, 9)

print(max(t))

9

In [28]:
#get the smallest element in a tuple
print(min(t))

1

In [31]:
#get sum of elments in the tuple
print(sum(t))

15

In [32]:
t=1,5,6,(3,4,5,[1,2],9,(5,8))
print(t)
t[3][5]=(9,1)
print(t)

(1, 5, 6, (3, 4, 5, [1, 2], 9, (5, 8)))

TypeError: 'tuple' object does not support item assignment

In [34]:
## Changing a tuple

tupl= (100,101,102,103,104,[11,22,33])

# tupl[0]=12 Does not work 

print (tupl)
print (tupl[-1])

tupl[-1][2]="two"
print (tupl[-1])

print (tupl)

(100, 101, 102, 103, 104, [11, 22, 33])
[11, 22, 33]
[11, 22, 'two']
(100, 101, 102, 103, 104, [11, 22, 'two'])